<h1 style="text-align: center;">
  Chart for Review Rating
</h1>
<svg style="margin-left:150px" width="1000" height="600"></svg>
<app-product-charts></app-product-charts>
 

<!-- <div class = "col-lg-6">
  <div id="piechartAmazon" ></div>
</div>
<div class = "col-lg-6">
  <div id="piechartSony" ></div>
</div>
<div class = "col-lg-6">
  <div id="piechartJbl" ></div>
</div>
<div class = "col-lg-6">
  <div id="piechartSamsung" ></div>
</div>
<div class = "col-lg-6">
  <div id="piechartAlpine" ></div>
</div> -->


