.first{
    margin-left: 50px;
}

.img1{
    float: left;
    width: 250px;
    height: 400px;
}

.img2{
    float: left;
    width: 600px;
    height: 400px;
    
}

.img3{
    float: left;
    width: 350px;
    height: 400px;
    
}

.col2{
    margin-left: 150px;
}