<div style="margin: 10px;">
  <input (change)="changeInput()" style="width: 70%;margin-right: 5px;border-radius: 3px;border-color: cornflowerblue;height: 40px;" type="email" [(ngModel)]="searchValue">
  <button (click)="searchProducts()" class="btn btn-primary">
    <fa-icon class="" [icon]="faSearch"></fa-icon>
  </button>
</div>

<div class="row justify-content-around mt-5">
  <div class="col-md-3" *ngFor="let review of reviewData | reverse">
    <div class="container-fluid mt-4" style="float: left;" (click)="navigateProduct(review.asin)">
     
      <div class='first'>
        <img class="img1" src={{review.image}} >
      </div>
      <div class="mb-3">
        <span><strong>Brand: {{review.brand}}</strong></span>
      </div>
      <div class="mb-3" >
        <span><strong>Product: {{review.title}}</strong></span>
      </div>
      <div>
        <span><strong>Rating</strong></span><bar-rating [(rate)]="review.rating" [max]="5" [theme]="'stars'"></bar-rating>
        <span><strong>Price: </strong></span>  <span><strong>{{review.price}}$</strong></span>
      </div>
    </div>
  </div>
</div>